@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
h1{
    
    color: #FFF;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 776px;
    opacity: 0.6;
    margin-left: 5%;
    margin-top: 25px;
    margin-bottom: 25px;

}
body{
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #9E6868;
} 
.header{
    position: absolute;
    background: #1E1E1E;
    width: 100%;
    display: flex;
    align-items: center;
    
    
}
.return-button{
    position: absolute;
    margin: 120px 50px;
    cursor: pointer;
    width: 50px;
    height: auto;
}




/* ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣤⡀⠀⠀⠀⠀⠀⠀⠀⣶⡆
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⢧⡀⠀⠀⠀⠀⠀⢀⠏⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⢻⢄⠀⠀⠀⢠⠎⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⠀⠀⠀⠀⠀⠀⠀⠀⠑⡠⠀⡴⡡⠁⠀⠀
⠀⠀⠀⠀⠀⠀⠀⢀⣴⡎⠉⡩⠃⠈⠕⢦⡀⠀⠀⠀⠀⡉⠀⢉⠃⠀⠀⠀
⠀⠀⠀⠀⠀⠀⣴⣿⡉⠘⠻⣤⠔⠊⠀⢀⠋⢆⠀⢀⣾⡏⠈⢺⡆⠀⠀⠀
⠀⠀⠀⠀⠀⢸⢿⠇⠞⠉⠀⢹⣄⡠⠖⠁⣠⣾⠟⡱⣻⠂⠀⣸⠀⠀⠀⠀
⠀⠀⠀⠀⠀⢸⣳⢴⠋⠢⡄⠘⠁⣠⣴⠞⠛⠁⢈⡽⠁⠀⣠⠃⠀⠀⠀⠀
⠀⣀⢠⣀⡂⠉⠿⣀⡆⠀⠸⣬⢿⠋⣁⣀⣈⡴⠋⠀⠠⠊⠁⠀⠀⠀⠀⠀
⠙⠉⠉⠙⠛⠛⠛⠋⠙⠛⠛⠛⠉⠉⠛⠛⠁⠈⠛⠃⠈⠀CM⠀⠀⠀⠀⠀⠀
 */
 